.admin-bg{
    background-image: url("https://image.freepik.com/free-photo/top-view-wooden-kids-toys-with-copy-space_23-2148251539.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}