.toy-img{
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 240px;
}
.btn-all{
    background-image: linear-gradient(#27e093f8,  #4a8aa5);
}
.section-header{
    color: #26aae1;
    font-size: 50px;
}