/* .review-bg-home{
    background-image: url('../../../../Images/background/star-bg.png');
    background-repeat: no-repeat;
    background-position:bottom;
    height: 80vh;
} */
.reviewer-name{
    color:  #26aae1;
   
}
.rating{
    color: rgb(250, 197, 63);
}
.reviewer-img{
    width: 120px;
    height: 100px;
    
}